.delete-button-container {
  cursor: pointer;
  outline: none;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #e3edf7;
  border: 1px solid rgba(0,0,0,0);
  transition: 0.1s ease-in;
  -webkit-transition: 0.1s ease-in;
}

.delete-button-container:hover {
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.55);
  border: 1px solid rgba(0,0,0,0);
}

.delete-icon {
  color: silver !important;
}

.delete-button-container:hover .delete-icon {
  color: #DF5557 !important;
}

.delete-button-container:active {
  opacity: 0.8;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.2),
              -0.5px -0.5px 0px rgba(255,255,255,0.2),
              0px 0px 0px rgba(255,255,255,0.5),
              0px 0px 10px -10px rgba(255,255,255,0.5) !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  transform: translateY(2px) !important;
  -webkit-transform: translateY(2px) !important;
}

.confirm-box {
  border-radius: 50px !important;
}

.confirm-box > .header {
  text-align: center;
  background-color: #e3edf7 !important;
  border-bottom: none !important;
}

.confirm-box > .content {
  text-align: center;
  background-color: #e3edf7 !important;
}

.confirm-box > .actions {
  border-top: none !important;
  display: flex;
  justify-content: space-evenly;
  background-color: #e3edf7 !important;
}

.confirm-box > .actions > .primary.button {
  background-color: #e63946 !important;
  transition: filter 0.1s;
}

.ui.primary.button:hover {
  filter: brightness(1.1);
}
