.like-button-container {
  width: 50px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

.like-button {
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #e3edf7;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.55);
  border: 1px solid rgba(0,0,0,0);

  transition: all 1s ease-in-out;
}

.like-button:hover i.icon.outline{
  color: #DF0505 !important;
}

.like-button:active {
  opacity: 0.8;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.2),
              -0.5px -0.5px 0px rgba(255,255,255,0.2),
              0px 0px 0px rgba(255,255,255,0.5),
              0px 0px 10px -10px rgba(255,255,255,0.5) !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  transform: translateY(2px) !important;
}

.like-button-container span {
  color: black;
}

/*
.like-button-container span{
    cursor: pointer;
}
.like-button-container .goUp{
    display: inline-flex;
    opacity: 0;
    transform: translate3d(0, -20px, 0);
    transition: 0.1s ease-in-out;
}
.like-button-container .waitDown{
    display: inline-flex;
    opacity: 0;
    transform: translate3d(0, 20px, 0);
}
.like-button-container .initial{
    display: inline-flex;
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    transition: 0.1s ease-in-out;
}
*/
