:root {
  --font-fam: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  --bg-color: #e3edf7;
}

body {
  background-color: var(--bg-color);
  overflow: overlay;
}

body::-webkit-scrollbar {
  background: var(--bg-color);
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
}

@media (pointer: coarse) {
  body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
